# # Python
# __pycache__/
# *.py[cod]
# *.so
# *.egg
# *.egg-info/
# dist/
# build/

# # ROS2 build and install
# build/
# install/
# log/

# # VSCode
# .vscode/

# # OS files
# .DS_Store
# Thumbs.db

# # Other
# *.swp
# *.swo
